### SQL Aliases

#### SQL aliases are used to give a table, or a column in a table, a temporary name.

#### Aliases are often used to make column names more readable.

#### An alias only exists for the duration of the query.

#### SELECT first_name AS FN, last_name AS LN FROM authors

#### SELECT id, CONCAT(title,', ',isbn) AS data
#### FROM books


### Aliases can be useful when:

#### There are more than one table involved in a query
#### Column names are big or not very readable
#### Two or more columns are combined together

### SQL JOIN

####  INNER JOIN: keyword selects all rows from both the tables as long as the condition satisfies. 
#### This keyword will create the result-set by combining all rows from both the tables where the condition satisfies 
#### i.e value of the common field will be same. 
#### JOIN is same as INNER JOIN.

### Syntax: 

#### SELECT DISTINCT(a.id),a.first_name,a.last_name
#### FROM authors a 
#### INNER JOIN book_author ba
#### ON a.id = ba.author_id;"""

In [ ]:
#### SQL syntax- 
SELECT col1,col2,col3
FROM table1
INNER JOIN table2
ON comman1.attribute = comman2.attribute

#### LEFT JOIN: This join returns all the rows of the table on the left side of the join and matching rows for the table on the right side of join. 
#### The rows for which there is no matching row on right side, the result-set will contain null. 

#### LEFT JOIN is also known as LEFT OUTER JOIN.

### Syntax:

#### SELECT DISTINCT(ba.author_id),a.first_name 
#### FROM authors a
#### LEFT JOIN book_author ba
#### ON a.id = ba.author_id; 

##### can have only 1 condition with the ON clause ,not possible to have 2.

#### RIGHT JOIN: RIGHT JOIN is similar to LEFT JOIN. 

#### This join returns all the rows of the table on the right side of the join and matching rows for the table on the left side of join. 
#### The rows for which there is no matching row on left side, the result-set will contain null. 

#### RIGHT JOIN is also known as RIGHT OUTER JOIN.

### Syntax:
#### SELECT DISTINCT(a.first_name),ba.author_id 
#### FROM authors a
#### RIGHT JOIN book_author ba
#### ON a.id = ba.author_id;


### SQL syntax:

SELECT table1.c1,table1.c2,table2.c1

FROM table1

RIGHT JOIN table2

ON table1.matching_col=table2.matching_col

#### FULL JOIN: FULL JOIN creates the result-set by combining result of both LEFT JOIN and RIGHT JOIN. 

#### The result-set will contain all the rows from both the tables. 
#### The rows for which there is no matching,the result-set will contain NULL values.

#### Syntax:

SELECT table1.column1,table1.column2,table2.column1,....

FROM table1 

FULL JOIN table2

ON table1.matching_column

=table2.matching_column;

#### CARTESIAN JOIN: The CARTESIAN JOIN is also known as CROSS JOIN.

#### In a CARTESIAN JOIN there is a join for each row of one table to every row of another table. 
#### This usually happens when the matching column or WHERE condition is not specified.

#### In the absence of a WHERE condition the CARTESIAN JOIN will behave like a CARTESIAN PRODUCT . i.e., the number of rows in the result-set is the product of the number of rows of the two tables.

#### In the presence of WHERE condition this JOIN will function like a INNER JOIN.

#### Generally speaking, Cross join is similar to an inner join where the join-condition will always evaluate to True

### Syntax:

#### SELECT table1.column1 , table1.column2, table2.column1...

#### FROM table1

#### CROSS JOIN table2;

## SQL UNION Operator
### The UNION operator is used to combine the result-set of two or more SELECT statements.

#### Each SELECT statement within UNION must have the same number of columns
#### The columns must also have similar data types
#### The columns in each SELECT statement must also be in the same order

### The UNION operator selects only distinct values by default. To allow duplicate values, use UNION ALL:

#### SELECT a.first_name,ab.author_id FROM authors a, book_author ab
#### WHERE ab.author_id=a.id
#### UNION ALL
#### SELECT b.title,ab.book_id FROM books b ,book_author ab
#### WHERE ab.book_id=b.id

## GROUP BY Statement in SQL is used to arrange identical data into groups with the help of some functions.
#### i.e if a particular column has same values in different rows then it will arrange these rows in a group.

### Important Points:

#### GROUP BY clause is used with the SELECT statement.
#### In the query, GROUP BY clause is placed after the WHERE clause.
#### In the query, GROUP BY clause is placed before ORDER BY clause if used any.

### Syntax-

#### SELECT column1, function_name(column2)
#### FROM table_name
#### WHERE condition
#### GROUP BY column1, column2
#### ORDER BY column1, column2;

#### -->function_name: Name of the function used for example, SUM() , AVG().
#### -->table_name: Name of the table.
#### -->condition: Condition used.

#### SELECT b.title,a.first_name,a.id

#### FROM books b,authors a,book_author ba

#### WHERE a.id=ba.author_id and ba.book_id=b.id

#### GROUP BY a.first_name

#### --->Group By single column: Group By single column means, to place all the rows with same value of only that particular column in one group
#### SELECT col1,SUM(col2) FROM table_name GROUP BY col1

#### --->Group By multiple columns: Group by multiple column is say for example, GROUP BY column1, column2. 
#### This means to place all the rows with same values of both the columns column1 and column2 in one group.

#### SELECT col1,col2 Count(*)

#### FROM table_name

#### GROUP BY col1,col2;

### The SQL HAVING Clause

#### The HAVING clause was added to SQL because the WHERE keyword could not be used with aggregate functions.

#### We can use HAVING clause to place conditions to decide which group will be the part of final result-set. 
#### Also we can not use the aggregate functions like SUM(), COUNT() etc. with WHERE clause. 
#### So we have to use HAVING clause if we want to use any of these functions in the conditions.

#### SELECT column_name(s)
#### FROM table_name
#### WHERE condition
#### GROUP BY column_name(s)
#### HAVING condition
#### ORDER BY column_name(s);

#### SELECT b.title,a.first_name,a.id
#### FROM books b,authors a,book_author ba
#### WHERE a.id=ba.author_id and ba.book_id=b.id
#### GROUP BY a.first_name
#### HAVING COUNT(a.id)>1

## Subqueries: 


### A subquery (also called an inner query or a nested query) is a query within another SQL query and is used to return data 
### that will be used in the main query as a condition to further restrict the data to be retrieved .

## In other words we can say that a Subquery is a query that is embedded in WHERE clause of another SQL query.

## The subquery generally executes first, and its output is used to complete the query condition for the main or outer query.

### Subquery must be enclosed in parentheses.
### Subqueries are on the right side of the comparison operator.
### ORDER BY command cannot be used in a Subquery. GROUPBY command can be used to perform same function as ORDER BY command.

## General Syntax-

#### SELECT column_name
#### FROM table_name
#### WHERE column_name expression operator 
#### ( SELECT COLUMN_NAME  from TABLE_NAME   WHERE ... );

## There are two types of subqueries:

#### Correlated subquery: A correlated subquery cannot be evaluated independently of the outer query because the subquery 
#### uses the values of the parent statement.

#### Uncorrelated subquery: A non-correlated subquery can be considered as an independent query and the output of subquery 
#### is substituted in the main query.

#### The EXISTS operator is used to test for the existence of any record in a subquery.

#### The EXISTS operator returns true if the subquery returns one or more records.

#### SELECT column_name(s)
#### FROM table_name
#### WHERE EXISTS
#### (SELECT column_name FROM table_name WHERE condition);


#### SELECT a.first_name, a.last_name 
#### FROM authors a ,book_author ba
#### WHERE EXISTS (SELECT * 
#### FROM books b
#### WHERE b.id=ba.book_id);

### Using NOT with EXISTS is possible -- NOT EXISTS 

### Using EXISTS condition with DELETE statement is possible 

### Using EXISTS condition with UPDATE statement is possible

### Corelated Sub-Queries Reference Link-> '''https://www.geeksforgeeks.org/sql-correlated-subqueries/'''

## CASE: The CASE statement goes through conditions and returns a value when the first condition is met (like an IF-THEN-ELSE statement). 

### So, once a condition is true, it will stop reading and return the result.
### If no conditions are true, it returns the value in the ELSE clause.

### If there is no ELSE part and no conditions are true, it returns NULL.


### Syntax:
#### CASE
#### WHEN condition1 THEN result1
#### WHEN condition2 THEN result2
#### WHEN conditionN THEN resultN
#### ELSE result
#### END;

#### SELECT id,first_name,
#### CASE WHEN first_name= "Barbara" THEN 'Correct'
#### WHEN first_name = 'Francis' THEN 'Incorrect'
#### ELSE 'Done'
#### END AS data
#### FROM authors;

## The CASE statement is SQLâ€™s way of handling if/then logic.

In [ ]:
# import sqlite3 # pip install sqlite3

### What if a column contains NULL VALUES? Any query pertaining to retrieval of numeric data fields may or may not contain NULL VALUES

##### The MySQL IFNULL() function lets you return an alternative value if an expression is NULL:

#### SELECT col1, col2* (col3 + IFNULL(col1, 0))
#### FROM tablename;

### The COALESCE() function examines the first expression, if the first expression is not null, it returns that expression; Otherwise, it does a COALESCE of the remaining expressions.

#### The COALESCE() function accepts one parameter which is the list which can contain various values. The value returned by the MySQL COALESCE() function is the first non-null value in a list of expressions or NULL if all the values in a list are NULL.

#### SELECT col1, col2 * (col3+ COALESCE(col1, 0))
#### FROM tablename;

### General Syntax- COALESCE (expr_1, expr_2, ... expr_n)

## SQL Dates

#### The most difficult part when working with dates is to be sure that the format of the date you are trying to insert 
#### matches the format of the date column in the database.

### MySQL comes with the following data types for storing a date or a date/time value in the database:

#### DATE - format YYYY-MM-DD
#### DATETIME - format: YYYY-MM-DD HH:MI:SS
#### TIMESTAMP - format: YYYY-MM-DD HH:MI:SS
#### YEAR - format YYYY or YY

### You can compare two dates easily if there is no time component involved!
### The SQL standard permits three types. DATE, TIME and TIMESTAMP. A TIMESTAMP includes a date and a time.

#### https://www.geeksforgeeks.org/sql-date-functions-set-1/
#### https://www.geeksforgeeks.org/sql-date-functions-set-2/?ref=rp

## SQL Comments

### Comments are used to explain sections of SQL statements, or to prevent execution of SQL statements.

### Single line comments start with --.
#### Any text between -- and the end of the line will be ignored (will not be executed).

#### SELECT * FROM books -- selecting all records from books table;

### Multi-line comments start with /* and end with */.
#### Any text between /* and */ will be ignored.

#### /*Select all the columns
#### of all the records
#### in the authors table:*/
#### SELECT * FROM authors;

## SQL constraints are used to specify rules for data in a table.

### Constraints can be specified when the table is created with the CREATE TABLE statement, 
### or after the table is created with the ALTER TABLE statement.

### CREATE TABLE table_name (
### column1 datatype constraint,
### column2 datatype constraint,
### column3 datatype constraint,
### );

### Constraints are used to limit the type of data that can go into a table. 
### This ensures the accuracy and reliability of the data in the table.
### If there is any violation between the constraint and the data action, the action is aborted.

### Constraints can be column level or table level. Column level constraints apply to a column, and table level constraints apply to the whole table.

### The following constraints are commonly used in SQL:

#### NOT NULL - Ensures that a column cannot have a NULL value
#### UNIQUE - Ensures that all values in a column are different
#### PRIMARY KEY - A combination of a NOT NULL and UNIQUE. Uniquely identifies each row in a table
#### FOREIGN KEY - Uniquely identifies a row/record in another table
#### CHECK - Ensures that all values in a column satisfies a specific condition
#### DEFAULT - Sets a default value for a column when no value is specified
#### INDEX - Used to create and retrieve data from the database very quickly

### SQL PRIMARY KEY Constraint
### The PRIMARY KEY constraint uniquely identifies each record in a table.

#### Primary keys must contain UNIQUE values, and cannot contain NULL values.

#### A table can have only ONE primary key; and in the table, this primary key can consist of single or multiple columns

### SQL PRIMARY KEY on CREATE TABLE

#### CREATE TABLE Persons (
#### ID int,
#### LastName varchar(255) NOT NULL,
#### FirstName varchar(255),
#### Age int,
#### PRIMARY KEY (ID)
#### );

#### CREATE TABLE Persons (
#### ID int NOT NULL,
#### LastName varchar(255) NOT NULL,
#### FirstName varchar(255),
#### Age int,
#### CONSTRAINT PK_Person PRIMARY KEY (ID,LastName) --there is only ONE PRIMARY KEY (PK_Person). However, the VALUE of 

#### the primary key is made up of TWO COLUMNS (ID + LastName).
#### );

### SQL PRIMARY KEY on ALTER TABLE

#### ALTER TABLE Persons
#### ADD PRIMARY KEY (ID); --

### DROP a PRIMARY KEY Constraint

#### ALTER TABLE Persons
#### DROP PRIMARY KEY;

### SQL FOREIGN KEY Constraint

#### A FOREIGN KEY is a key used to link two tables together.

### A FOREIGN KEY is a field (or collection of fields) in one table that refers to the PRIMARY KEY in another table.

#### The table containing the foreign key is called the child table,and the table containing the candidate key is called the referenced or parent table.

#### The FOREIGN KEY constraint is used to prevent actions that would destroy links between tables.

#### The FOREIGN KEY constraint also prevents invalid data from being inserted into the foreign key column, because it has to be one of the values contained in the table it points to.

### In the case of our python_mysql database; we have authors and book_author tables

#### In the authors table, we have id has the PRIMARY KEY 
#### In the book_author table, we have author_id which is the FOREIGN KEY referencing the PRIMARY KEY id from the authors table.

### SQL FOREIGN KEY on CREATE TABLE

#### CREATE TABLE book_author(
#### ID int NOT NULL,
#### book_id int ,
#### author_id int,
#### PRIMARY KEY (ID),
#### FOREIGN KEY (author_id) REFERENCES authors(id)
#### FOREIGN KEY(book_id) REFERNCES books(id)
#### );

### SQL FOREIGN KEY on ALTER TABLE

#### ALTER TABLE table_name
#### ADD FOREIGN KEY (col_name) REFERENCES table_name(col_name);

### SQL DROP a FOREIGN KEY Constraint

#### ALTER TABLE table_name
#### DROP FOREIGN KEY (col_name);

## MySQL data types REf link-> '''https://www.w3schools.com/sql/sql_datatypes.asp'''

## START SOLVING ON https://sqlzoo.net/