In [16]:
import sqlite3

In [17]:
# print(sqlite3.version)

con = sqlite3.connect('data/employee.db') #step 1
# print(dir(con))
cursor_obj = con.cursor() #step 2

In [18]:
cursor_obj.execute('create table employee(id integer primary key autoincrement, name text, location text)')

#autoincrement does as the name suggests

In [19]:
cursor_obj.execute('create table project(id integer primary key autoincrement, p_name text, p_owner text, e_p_id int, FOREIGN KEY (e_p_id) REFERENCES employee(id))')

In [20]:
cursor_obj.execute('insert into employee(name,location) values("avyay","bangalore")')
cursor_obj.execute('insert into employee(name,location) values("vivek","mysore")')
cursor_obj.execute('insert into employee(name,location) values("ashwin","mangalore")')
con.commit()

In [21]:
cursor_obj.execute('insert into project(p_name,p_owner,e_p_id) values("Web Scraping","ABC client",(select id from employee where id=2))')
cursor_obj.execute('insert into project(p_name,p_owner,e_p_id) values("Python","Tomato client",(select id from employee where id=3))')
cursor_obj.execute('insert into project(p_name,p_owner,e_p_id) values("REGEX","BAD client",(select id from employee where id=1))')
con.commit()

In [24]:
result = cursor_obj.execute('select * from employee')

for i in result:
    print(i)

(1, 'avyay', 'bangalore')
(2, 'vivek', 'mysore')
(3, 'ashwin', 'mangalore')

In [25]:
result = cursor_obj.execute('select * from project')

for i in result:
    print(i)

(1, 'Web Scraping', 'ABC client', 2)
(2, 'Python', 'Tomato client', 3)
(3, 'REGEX', 'BAD client', 1)

In [31]:
cursor_obj.execute('select name,p_name,p_owner from employee as e, project where e_p_id=e.id').fetchall()

[('vivek', 'Web Scraping', 'ABC client'),
 ('ashwin', 'Python', 'Tomato client'),
 ('avyay', 'REGEX', 'BAD client')]

Create a super store database with 2 tables supplier and supplier 
Attributes of supplier - supplier_id, supplier_name, location
attributes of supplier_groups - group_id, group_name, 

Assuming each supplier belongs to one and only one supplier group. And each supplier group may have zero or many suppliers.

Relationship between supplier_groups and suppliers is many to one

In [65]:
import sqlite3
from sqlite3 import Error

class store:

    def __init__(self,name):
        self.name=name

    def __str__(self):
        return 'Hello, Welcome to ',self.name,' store'


    def create_db(self): #step 1 create database
        try:            
            self.con = sqlite3.connect('data/store.db')
            cur = self.con.cursor()
            return cur
        except Error:
            print(Error)

    def create_tables(self, cur):
        try:
            # cur.execute('drop table suppliers if not exists')
            # cur.execute('drop table supplier_groups if not exists')
            cur.execute('create table supplier_group(group_id integer PRIMARY KEY, group_name text not null)')
            cur.execute('create table suppliers(supplier_id integer PRIMARY KEY, supplier_name text not null, location text not null, group_id integer not null, FOREIGN KEY(group_id) references supplier_group(group_id) ON UPDATE SET NULL ON DELETE SET NULL)')
        except Error:
            print(Error)

    def insert_group(self, cur, group_name):
        try:
            cur.execute('INSERT INTO supplier_group(group_name) values(?)', (group_name,))
            self.con.commit()
        except:
            print(Error)

    def insert_supplier(self, cur, name, loc, group_id):
        try:
            cur.execute('INSERT INTO suppliers(supplier_name, location, group_id) \
                values(?,?,?)', (name,loc,group_id,))
            self.con.commit()
        except:
            print(Error)

    def delete(self, cur):
        try:
            cur.execute('DELETE FROM supplier_group WHERE group_id=3')
            self.con.commit()
        except Error:
            print(Error)
    


if __name__=="__main__":
    obj = store('abc')
    print('abc')
    cur = obj.create_db() 
    obj.create_tables(cur)

abc

In [66]:
obj.insert_group(cur, 'Petroleum')
obj.insert_group(cur, 'Sugar')
obj.insert_group(cur, 'Wheat')

In [67]:
obj.insert_supplier(cur, 'HP', 'India', 1)
obj.insert_supplier(cur, 'Petronas', 'UAE', 1)
obj.insert_supplier(cur, 'Parrys', 'India', 2)
obj.insert_supplier(cur, 'Ashirvad', 'India', 3)
obj.insert_supplier(cur, 'Kellogs', 'USA', 3)

In [68]:
obj.insert_supplier(cur, 'Tomoato shop', 'Mongolia', 4)

In [69]:
obj.delete(cur)

In [ ]:
'''create table suppliers(supplier_id integer PRIMARY KEY, 
supplier_name text not null, 
location text not null,
group_id integer not null, 
FOREIGN KEY(group_id) references supplier_group(group_id))
ON UPDATE SET NULL
ON DELETE SET NULL)
'''