In [40]:
import sqlite3
# print(dir(sqlite3))
# print(sqlite3.version) 

con=sqlite3.connect('project_employee.db') # step 1
# print(dir(con))

In [41]:
# step 2 
cursor_obj=con.cursor() # this will create a cursor object which will
# help to execute various sql commands

In [43]:
# step 3
# create table employee   

cursor_obj.execute('create table employee(id integer primary key autoincrement, name text,location text)')

# this tells us that not every column with primary key constraint will automatically perform auto increment

In [45]:
# create table project with relationship

cursor_obj.execute('create table project(id integer primary key autoincrement, p_name text, p_owner text,e_p_id int,foreign key (e_p_id) references employee(id))')

In [46]:
# insert into employee 

cursor_obj.execute('insert into employee(name,location) values("ashwin","bangalore")')
cursor_obj.execute('insert into employee(name,location) values("avyay","mysore")')
cursor_obj.execute('insert into employee(name,location) values("vivek","hubli")')
con.commit()

In [47]:
cursor_obj.execute('insert into project(p_name,p_owner,e_p_id) values("Web Scraping","ABC client",(select id from employee where id =1))')
cursor_obj.execute('insert into project(p_name,p_owner,e_p_id) values("MVC","XYZ client",(select id from employee where id =2))')
cursor_obj.execute('insert into project(p_name,p_owner,e_p_id) values("Regex","LMN client",(select id from employee where id =3))')
con.commit()

In [65]:
result=cursor_obj.execute('select * from employee ')

for i in result:
    print(i)

In [52]:
result=cursor_obj.execute('select * from project ')

for i in result:
    print(i)

(1, 'Web Scraping', 'ABC client', 1)
(2, 'MVC', 'XYZ client', 2)
(3, 'Regex', 'LMN client', 3)

In [53]:
cursor_obj.execute('select name,location from employee where id=3').fetchone()

('vivek', 'hubli')

In [56]:
result=cursor_obj.execute('select e.name,p_name,p_owner from employee as e,project where e_p_id=e.id')

In [57]:
for i in result:
    print(i)

('ashwin', 'Web Scraping', 'ABC client')
('avyay', 'MVC', 'XYZ client')
('vivek', 'Regex', 'LMN client')

In [62]:
result=cursor_obj.execute('select * from employee where id in (2,3)')

In [63]:
for i in result:
    print(i)

(2, 'avyay', 'mysore')
(3, 'vivek', 'hubli')

In [64]:
cursor_obj.execute('delete from employee') # delete all records
cursor_obj.execute('delete from employee where id=2') # delete all records