In [8]:
from symtable import Symbol
import requests
import json
import mysql.connector
import bcrypt

# def timezone_search():
#     url = "http://api.marketstack.com/v1/timezones"
#     parameters = {
#         'access_key': 'afb37f15ee86604d6975ff76d5105304'
#     }
#     response = requests.get(url, params=parameters)
#     data = json.loads(response.text)
#     return data

In [9]:
url = "https://alpha-vantage.p.rapidapi.com/query"

querystring = {
    "keywords":"tatacoffee",
    "function":"SYMBOL_SEARCH",
    "datatype":"json"
}

headers = {
	"X-RapidAPI-Key": "4e11ba9a03msh6ad5ea7d0116106p196642jsn92155f1df104",
	"X-RapidAPI-Host": "alpha-vantage.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

{
    "bestMatches": [
        {
            "1. symbol": "TATACOFFEE.BSE",
            "2. name": "TATA COFFEE LTD.",
            "3. type": "Equity",
            "4. region": "India/Bombay",
            "5. marketOpen": "09:15",
            "6. marketClose": "15:30",
            "7. timezone": "UTC+5.5",
            "8. currency": "INR",
            "9. matchScore": "0.8696"
        }
    ]
}

In [10]:
url = "https://alpha-vantage.p.rapidapi.com/query"

querystring = {
    "function":"GLOBAL_QUOTE",
    "symbol":"TATACOFFEE.BSE",
    "datatype":"json"
}

headers = {
	"X-RapidAPI-Key": "4e11ba9a03msh6ad5ea7d0116106p196642jsn92155f1df104",
	"X-RapidAPI-Host": "alpha-vantage.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers, params=querystring)
data = json.loads(response.text)
# data['Global Quote']['05. price']

print(response.text)
print(data['Global Quote']['05. price'])

{
    "Global Quote": {
        "01. symbol": "TATACOFFEE.BSE",
        "02. open": "225.0000",
        "03. high": "225.6000",
        "04. low": "219.0500",
        "05. price": "219.8000",
        "06. volume": "112379",
        "07. latest trading day": "2022-07-22",
        "08. previous close": "224.3000",
        "09. change": "-4.5000",
        "10. change percent": "-2.0062%"
    }
}
219.8000

In [11]:
query="CREATE TABLE 'USER'(username VARCHAR(255) PRIMARY KEY, password VARCHAR(500), balance INTEGER);"

In [12]:
CREATE TABLE STOCKS(company_name VARCHAR(255), symbol VARCHAR(255) PRIMARY KEY, timezone VARCHAR(255), currency VARCHAR(255), price INTEGER)

SyntaxError: invalid syntax (2204232693.py, line 1)

In [ ]:
CREATE TABLE TRADES(id INTEGER  NOT NULL,
                    username VARCHAR(255) NOT NULL,
                    stock_symbol VARCHAR(255) NOT NULL,
                    price FLOAT, 
                    quantity INTEGER, 
                    transaction_ammount FLOAT,
                    time_stamp TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
                    PRIMARY KEY(id),
                    FOREIGN KEY (username) REFERENCES USERS(username),
                    FOREIGN KEY (stock_symbol) REFERENCES STOCKS(symbol));

In [ ]:
result = [(2,), (2,), (5,),(5,),(3,),(8,)]


for i in range(0,len(result)):
    print(result[i][0])

2
2
5
5
3
8

In [ ]:
# query = "SELECT stock_symbol, quantity FROM TRADES WHERE username = %s"
# cursor.execute(query,(user.username,))
# result = cursor.fetchall()

result = [('AAPL',5),('SMSN.LON',8),('AAPL',-2),('SMSN.LON',-3)]
lis = []
s=[]
q=0
for item in result:
    dict = {}
    dict['symbol'] = item[0]
    dict['quantity'] = item[1]
    s.append(item[0])
    for i in range(0,len(s)):
        if dict['symbol']==s[i]:
            q+=dict['quantity']
    print(q)
    # print(dict)
    lis.append(dict)
print(lis)

5
13
9
3
[{'symbol': 'AAPL', 'quantity': 5}, {'symbol': 'SMSN.LON', 'quantity': 8}, {'symbol': 'AAPL', 'quantity': -2}, {'symbol': 'SMSN.LON', 'quantity': -3}]

In [ ]:
for item in lis:
    if item['symbol'] in s:
        item['quantity']

In [ ]:
result = [('AAPL',5),('AAPL',-2)]
dict = {}
# dict['symbol'] = result[0][0]
# dict['quantity'] = result[0][2]
quantity=0
for item in result:
    quantity += item[1]

print(quantity)

3

In [13]:
from configparser import ConfigParser
from mysql.connector import MySQLConnection

def read_db_config(filename='data/config.ini', section='mysql'):    
        # create parser and read ini configuration file
        parser = ConfigParser()
        parser.read(filename)
        # get section, default to mysql
        db = {}
        if parser.has_section(section):
            items = parser.items(section)
            for item in items:
                db[item[0]] = item[1]
        else:
            raise Exception('{0} not found in the {1} file'.format(section, filename))    
        return db # dictionary containing key-value pairs of the credentials to your Mysql server connection 
# user='Avyay'
# db_config = read_db_config()
# conn = MySQLConnection(**db_config)
# cursor = conn.cursor()
# query = "SELECT stock_symbol FROM TRADES WHERE username = %s"
# cursor.execute(query,(user,))
# result = cursor.fetchall()
# symbols = set
# # print(result)
# for item in result:
#     symbols.add(item[0])
# # print(symbols)
# lis = []
# for item in symbols:
#     dict = {}
#     query = "SELECT quantity FROM TRADES WHERE username = %s AND stock_symbol = %s"
#     cursor.execute(query,(user,item))
#     resultq = cursor.fetchall()
#     # print(resultq)
#     qty=0
#     for q in resultq:
#         # print(q[0])
#         qty+=q[0]
#     dict['symbol']=item
#     query = 'SELECT company_name FROM STOCKS WHERE symbol = %s'
#     cursor.execute(query,(dict['symbol'],))
#     name = cursor.fetchone()
#     dict['company name'] = name[0]
#     dict['quantity']=qty
#     lis.append(dict)
# print(lis)

In [15]:
# symbols = set
# symbols.add("Tomato")
# type(symbols)
# print(dir(symbols))

In [17]:
search='Avyay'
db_config = read_db_config()
conn = MySQLConnection(**db_config)
cursor = conn.cursor()
query = "SELECT * FROM TRADES WHERE username = %s"
cursor.execute(query,(search,))
result = cursor.fetchall()

In [19]:
import pandas as pd

dataframe = pd.DataFrame(result)

print(dataframe)

     0      1         2         3    4         5                   6
0    1  Avyay  SMSN.LON  1135.500    2  -2271.00 2022-07-18 20:46:48
1    2  Avyay  SMSN.LON  1135.500    2  -2271.00 2022-07-18 20:48:40
2    3  Avyay      AAPL   150.170    2   -300.34 2022-07-18 23:10:25
3    4  Avyay  SMSN.LON  1135.500    5  -5677.50 2022-07-18 23:10:59
4    5  Avyay      AAPL   150.170   -1    150.17 2022-07-19 00:51:33
5    6  Avyay      AAPL   150.170   -1    150.17 2022-07-19 00:51:33
6    7  Avyay  SMSN.LON  1135.500   -9  10219.50 2022-07-19 00:51:33
7    8  Avyay   TWR.DEX    37.515  100  -3751.50 2022-07-19 10:57:01
8    9  Avyay   TWR.DEX    37.515 -100   3751.50 2022-07-19 10:59:15
9   10  Avyay      AAPL   147.070    5   -735.35 2022-07-19 23:39:10
10  11  Avyay      TSLA   721.640    5  -3608.20 2022-07-19 23:44:29
11  12  Avyay  SMSN.LON  1160.000   60 -69600.00 2022-07-21 12:08:42

In [20]:
from tabulate import tabulate

print(dir(tabulate))

['__annotations__', '__builtins__', '__call__', '__class__', '__closure__', '__code__', '__defaults__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__get__', '__getattribute__', '__globals__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__kwdefaults__', '__le__', '__lt__', '__module__', '__name__', '__ne__', '__new__', '__qualname__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__']