In [2]:
from symtable import Symbol
import requests
import json
import mysql.connector
import bcrypt

# def timezone_search():
#     url = "http://api.marketstack.com/v1/timezones"
#     parameters = {
#         'access_key': 'afb37f15ee86604d6975ff76d5105304'
#     }
#     response = requests.get(url, params=parameters)
#     data = json.loads(response.text)
#     return data

In [3]:
url = "https://alpha-vantage.p.rapidapi.com/query"

querystring = {
    "keywords":"tatacoffee",
    "function":"SYMBOL_SEARCH",
    "datatype":"json"
}

headers = {
	"X-RapidAPI-Key": "4e11ba9a03msh6ad5ea7d0116106p196642jsn92155f1df104",
	"X-RapidAPI-Host": "alpha-vantage.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

{
    "bestMatches": [
        {
            "1. symbol": "TATACOFFEE.BSE",
            "2. name": "TATA COFFEE LTD.",
            "3. type": "Equity",
            "4. region": "India/Bombay",
            "5. marketOpen": "09:15",
            "6. marketClose": "15:30",
            "7. timezone": "UTC+5.5",
            "8. currency": "INR",
            "9. matchScore": "0.8696"
        }
    ]
}

In [6]:
url = "https://alpha-vantage.p.rapidapi.com/query"

querystring = {
    "function":"GLOBAL_QUOTE",
    "symbol":"TATACOFFEE.BSE",
    "datatype":"json"
}

headers = {
	"X-RapidAPI-Key": "4e11ba9a03msh6ad5ea7d0116106p196642jsn92155f1df104",
	"X-RapidAPI-Host": "alpha-vantage.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers, params=querystring)
data = json.loads(response.text)
# data['Global Quote']['05. price']

print(response.text)
print(data['Global Quote']['05. price'])

{
    "Global Quote": {
        "01. symbol": "TATACOFFEE.BSE",
        "02. open": "209.6500",
        "03. high": "217.8000",
        "04. low": "209.6500",
        "05. price": "217.2000",
        "06. volume": "96934",
        "07. latest trading day": "2022-07-15",
        "08. previous close": "211.4500",
        "09. change": "5.7500",
        "10. change percent": "2.7193%"
    }
}
217.2000

In [ ]:
query="CREATE TABLE 'USER'(username VARCHAR(255) PRIMARY KEY, password VARCHAR(500), balance INTEGER);"

In [ ]:
CREATE TABLE STOCKS(company_name VARCHAR(255), symbol VARCHAR(255) PRIMARY KEY, timezone VARCHAR(255), currency VARCHAR(255), price INTEGER)

In [ ]:
CREATE TABLE TRADES(id INTEGER  NOT NULL,
                    username VARCHAR(255) NOT NULL,
                    stock_symbol VARCHAR(255) NOT NULL,
                    price FLOAT, 
                    quantity INTEGER, 
                    transaction_ammount FLOAT,
                    time_stamp TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
                    PRIMARY KEY(id),
                    FOREIGN KEY (username) REFERENCES USERS(username),
                    FOREIGN KEY (stock_symbol) REFERENCES STOCKS(symbol));

In [8]:
result = [(2,), (2,), (5,),(5,),(3,),(8,)]


for i in range(0,len(result)):
    print(result[i][0])

2
2
5
5
3
8

In [54]:
# query = "SELECT stock_symbol, quantity FROM TRADES WHERE username = %s"
# cursor.execute(query,(user.username,))
# result = cursor.fetchall()

result = [('AAPL',5),('SMSN.LON',8),('AAPL',-2),('SMSN.LON',-3)]
lis = []
s=[]
q=0
for item in result:
    dict = {}
    dict['symbol'] = item[0]
    dict['quantity'] = item[1]
    s.append(item[0])
    for i in range(0,len(s)):
        if dict['symbol']==s[i]:
            q+=dict['quantity']
    print(q)
    # print(dict)
    lis.append(dict)
print(lis)

5
13
9
3
[{'symbol': 'AAPL', 'quantity': 5}, {'symbol': 'SMSN.LON', 'quantity': 8}, {'symbol': 'AAPL', 'quantity': -2}, {'symbol': 'SMSN.LON', 'quantity': -3}]

In [50]:
for item in lis:
    if item['symbol'] in s:
        item['quantity']

In [61]:
result = [('AAPL',5),('AAPL',-2)]
dict = {}
# dict['symbol'] = result[0][0]
# dict['quantity'] = result[0][2]
quantity=0
for item in result:
    quantity += item[1]

print(quantity)

3

In [95]:
from configparser import ConfigParser
from mysql.connector import MySQLConnection

def read_db_config(filename='data/config.ini', section='mysql'):    
        # create parser and read ini configuration file
        parser = ConfigParser()
        parser.read(filename)
        # get section, default to mysql
        db = {}
        if parser.has_section(section):
            items = parser.items(section)
            for item in items:
                db[item[0]] = item[1]
        else:
            raise Exception('{0} not found in the {1} file'.format(section, filename))    
        return db # dictionary containing key-value pairs of the credentials to your Mysql server connection 
user='Avyay'
db_config = read_db_config()
conn = MySQLConnection(**db_config)
cursor = conn.cursor()
query = "SELECT stock_symbol FROM TRADES WHERE username = %s"
cursor.execute(query,(user,))
result = cursor.fetchall()
symbols = set
# print(result)
for item in result:
    symbols.add(item[0])
# print(symbols)
lis = []
for item in symbols:
    dict = {}
    query = "SELECT quantity FROM TRADES WHERE username = %s AND stock_symbol = %s"
    cursor.execute(query,(user,item))
    resultq = cursor.fetchall()
    # print(resultq)
    qty=0
    for q in resultq:
        # print(q[0])
        qty+=q[0]
    dict['symbol']=item
    query = 'SELECT company_name FROM STOCKS WHERE symbol = %s'
    cursor.execute(query,(dict['symbol'],))
    name = cursor.fetchone()
    dict['company name'] = name[0]
    dict['quantity']=qty
    lis.append(dict)
print(lis)

ProgrammingError: Failed processing format-parameters; Python 'tuple' cannot be converted to a MySQL type

In [103]:
symbols = set
symbols.add("Tomato")
type(symbols)
print(dir(symbols))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']