In [9]:
def create_file():
    open('files/test.md','x')
    return

def add_content(string = 'Hello, Good Morning!'):
    x = open('files/test.md','w')
    x.write(string)
    x.close()

def append_content(string = "\nWe are learning git anf python file handling!!"):
    x = open('files/test.md','a')
    x.write(string)
    x.close()

def read_content():
    x = open('files/test.md','r')
    print(x.read())



if __name__ == '__main__':
#    create()
#    add_content()
#    append_content()
    read_content()

Hello, Good Morning!
We are learning git anf python file handling!!

In [6]:
def using_print():
    x = open('files/test.md','a')
    print('New line', file =x)
    print('This sould be another line.', file = x)
    print ('Lets stop typing', file = x)
    x.close()
    return

def pdf_func():
    x=open('files/test.pdf', 'a')
    x.write('This is a new pdf bro')
    x.write('\nPDF in python damnnn')  
    return

def read_pdf():
    x = open('files/test.pdf','r')
    print(x.read())
    return

def docs():
    from docx import Document
    doc = Document()
    doc.add_heading("Good Morning", level = 1)
    doc.add_paragraph("this is a docx again wow")
    doc.add_page_break()
    doc.save('files/test.docx')
    return

if __name__ == "__main__":
#    using_print()
#   pdf_func()
#    read_pdf()
    docs()

# PANDAS

In [29]:
#using pandas to open excel and csvs
import pandas as pd

#print(dir(pd))

df_sheet1 = pd.read_excel('/home/avyay/OneDrive/Documents/Data-Science-Course/Week 2/data/Data1 Coupled Pendulum.xlsx',sheet_name = 0)

df_sheet2 = pd.read_excel('/home/avyay/OneDrive/Documents/Data-Science-Course/Week 2/data/Data1 Coupled Pendulum.xlsx',sheet_name = 1)

df = pd.concat([df_sheet1, df_sheet2])

In [30]:
df

              t         x  Unnamed: 2        t.1       x.1
0      0.000000  0.090312         NaN   0.000000  0.297208
1      0.034033  0.090312         NaN   0.034033  0.296060
2      0.067344  0.102026         NaN   0.067344  0.294879
3      0.100656  0.108727         NaN   0.100656  0.293821
4      0.133967  0.115337         NaN   0.133967  0.293229
...         ...       ...         ...        ...       ...
2074  69.082022  0.099990         NaN  69.082022  0.333579
2075  69.115233  0.098608         NaN  69.115233  0.336224
2076  69.148644  0.097604         NaN  69.148644  0.339041
2077  69.181867  0.097607         NaN  69.181867  0.343097
2078  69.215089  0.098721         NaN  69.215089  0.349225

[3891 rows x 5 columns]

In [31]:
df.shape # rows x columns
len(df)

3891

In [24]:
len(df)

3893

In [25]:
df.size #rotal number of dataa points in df

19465

In [32]:
df.columns

Index(['t', 'x', 'Unnamed: 2', 't.1', 'x.1'], dtype='object')

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3891 entries, 0 to 2078
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   t           3891 non-null   float64
 1   x           3891 non-null   float64
 2   Unnamed: 2  0 non-null      float64
 3   t.1         3891 non-null   float64
 4   x.1         3891 non-null   float64
dtypes: float64(5)
memory usage: 182.4 KB

In [35]:
df.describe(include = 'all')

                 t            x  Unnamed: 2          t.1          x.1
count  3891.000000  3891.000000         0.0  3891.000000  3891.000000
mean     32.537201     0.134610         NaN    32.537201     0.351498
std      18.970639     0.037614         NaN    18.970639     0.055115
min       0.000000     0.027026         NaN     0.000000     0.265387
25%      16.188656     0.109624         NaN    16.188656     0.308156
50%      32.376522     0.128382         NaN    32.376522     0.331390
75%      48.580617     0.153871         NaN    48.580617     0.394242
max      69.215089     0.251980         NaN    69.215089     0.502478

In [39]:
df.isnull().any()
df.isnull().sum() # returns number of nulls

t                0
x                0
Unnamed: 2    3891
t.1              0
x.1              0
dtype: int64

In [44]:
    df.head()
    df.tail()

              t         x  Unnamed: 2        t.1       x.1
2074  69.082022  0.099990         NaN  69.082022  0.333579
2075  69.115233  0.098608         NaN  69.115233  0.336224
2076  69.148644  0.097604         NaN  69.148644  0.339041
2077  69.181867  0.097607         NaN  69.181867  0.343097
2078  69.215089  0.098721         NaN  69.215089  0.349225

In [50]:
df[['t','x']]

              t         x
0      0.000000  0.090312
1      0.034033  0.090312
2      0.067344  0.102026
3      0.100656  0.108727
4      0.133967  0.115337
...         ...       ...
2074  69.082022  0.099990
2075  69.115233  0.098608
2076  69.148644  0.097604
2077  69.181867  0.097607
2078  69.215089  0.098721

[3891 rows x 2 columns]

In [54]:
df.loc[986,'t'] #first parameter will be int representing row, second will be str representing colummn

986    32.842633
986    32.842700
Name: t, dtype: float64

In [58]:
df[0:4]

          t         x  Unnamed: 2       t.1       x.1
0  0.000000  0.090312         NaN  0.000000  0.297208
1  0.034033  0.090312         NaN  0.034033  0.296060
2  0.067344  0.102026         NaN  0.067344  0.294879
3  0.100656  0.108727         NaN  0.100656  0.293821

In [63]:
df.iloc[0,0]# rows(indexed as the data) x col(indexed as the data)

0.0

In [76]:
#df[df['t']>25 and df['x']<0.5]
df.query('t<25 and x < 0.1')

             t         x  Unnamed: 2        t.1       x.1
0     0.000000  0.090312         NaN   0.000000  0.297208
1     0.034033  0.090312         NaN   0.034033  0.296060
83    2.765400  0.094533         NaN   2.765400  0.298629
84    2.798711  0.089467         NaN   2.798711  0.299495
85    2.831911  0.085335         NaN   2.831911  0.300296
..         ...       ...         ...        ...       ...
666  22.184022  0.064446         NaN  22.184022  0.332955
667  22.217333  0.070143         NaN  22.217333  0.330217
668  22.250644  0.077252         NaN  22.250644  0.328511
669  22.284111  0.085951         NaN  22.284111  0.327714
670  22.317456  0.095191         NaN  22.317456  0.328085

[281 rows x 5 columns]