In [2]:
def create_file():
    open('files/test.md','x')
    return

def add_content(string = 'Hello, Good Morning!'):
    x = open('files/test.md','w')
    x.write(string)
    x.close()

def append_content(string = "\nWe are learning git anf python file handling!!"):
    x = open('files/test.md','a')
    x.write(string)
    x.close()

def read_content():
    x = open('files/test.md','r')
    print(x.read())



if __name__ == '__main__':
#    create()
#    add_content()
#    append_content()
    read_content()

Hello, Good Morning!
We are learning git anf python file handling!!New line
This sould be another line.
Lets stop typing
New line
This sould be another line.
Lets stop typing
New line
This sould be another line.
Lets stop typing
New line
This sould be another line.
Lets stop typing

In [3]:
def using_print():
    x = open('files/test.md','a')
    print('New line', file =x)
    print('This sould be another line.', file = x)
    print ('Lets stop typing', file = x)
    x.close()
    return

def pdf_func():
    x=open('files/test.pdf', 'a')
    x.write('This is a new pdf bro')
    x.write('\nPDF in python damnnn')  
    return

def read_pdf():
    x = open('files/test.pdf','r')
    print(x.read())
    return

def docs():
    from docx import Document
    doc = Document()
    doc.add_heading("Good Morning", level = 1)
    doc.add_paragraph("this is a docx again wow")
    doc.add_page_break()
    doc.save('files/test.docx')
    return

if __name__ == "__main__":
#    using_print()
#   pdf_func()
#    read_pdf()
    docs()

# PANDAS

In [4]:
#using pandas to open excel and csvs
import pandas as pd

#print(dir(pd))

df_sheet1 = pd.read_excel('/home/avyay/OneDrive/Documents/Data-Science-Course/Week 2/data/Data1 Coupled Pendulum.xlsx',sheet_name = 0)

df_sheet2 = pd.read_excel('/home/avyay/OneDrive/Documents/Data-Science-Course/Week 2/data/Data1 Coupled Pendulum.xlsx',sheet_name = 1)

df = pd.concat([df_sheet1, df_sheet2])

In [5]:
df

              t         x  Unnamed: 2        t.1       x.1
0      0.000000  0.090312         NaN   0.000000  0.297208
1      0.034033  0.090312         NaN   0.034033  0.296060
2      0.067344  0.102026         NaN   0.067344  0.294879
3      0.100656  0.108727         NaN   0.100656  0.293821
4      0.133967  0.115337         NaN   0.133967  0.293229
...         ...       ...         ...        ...       ...
2074  69.082022  0.099990         NaN  69.082022  0.333579
2075  69.115233  0.098608         NaN  69.115233  0.336224
2076  69.148644  0.097604         NaN  69.148644  0.339041
2077  69.181867  0.097607         NaN  69.181867  0.343097
2078  69.215089  0.098721         NaN  69.215089  0.349225

[3891 rows x 5 columns]

In [6]:
df.shape # rows x columns
len(df)

3891

In [7]:
len(df)

3891

In [8]:
df.size #rotal number of dataa points in df

19455

In [9]:
df.columns

Index(['t', 'x', 'Unnamed: 2', 't.1', 'x.1'], dtype='object')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3891 entries, 0 to 2078
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   t           3891 non-null   float64
 1   x           3891 non-null   float64
 2   Unnamed: 2  0 non-null      float64
 3   t.1         3891 non-null   float64
 4   x.1         3891 non-null   float64
dtypes: float64(5)
memory usage: 182.4 KB

In [11]:
df.describe(include = 'all')

                 t            x  Unnamed: 2          t.1          x.1
count  3891.000000  3891.000000         0.0  3891.000000  3891.000000
mean     32.537201     0.134610         NaN    32.537201     0.351498
std      18.970639     0.037614         NaN    18.970639     0.055115
min       0.000000     0.027026         NaN     0.000000     0.265387
25%      16.188656     0.109624         NaN    16.188656     0.308156
50%      32.376522     0.128382         NaN    32.376522     0.331390
75%      48.580617     0.153871         NaN    48.580617     0.394242
max      69.215089     0.251980         NaN    69.215089     0.502478

In [12]:
df.isnull().any()
df.isnull().sum() # returns number of nulls

t                0
x                0
Unnamed: 2    3891
t.1              0
x.1              0
dtype: int64

In [13]:
    df.head()
    df.tail()

              t         x  Unnamed: 2        t.1       x.1
2074  69.082022  0.099990         NaN  69.082022  0.333579
2075  69.115233  0.098608         NaN  69.115233  0.336224
2076  69.148644  0.097604         NaN  69.148644  0.339041
2077  69.181867  0.097607         NaN  69.181867  0.343097
2078  69.215089  0.098721         NaN  69.215089  0.349225

In [14]:
df[['t','x']]

              t         x
0      0.000000  0.090312
1      0.034033  0.090312
2      0.067344  0.102026
3      0.100656  0.108727
4      0.133967  0.115337
...         ...       ...
2074  69.082022  0.099990
2075  69.115233  0.098608
2076  69.148644  0.097604
2077  69.181867  0.097607
2078  69.215089  0.098721

[3891 rows x 2 columns]

In [15]:
df.loc[986,'t'] #first parameter will be int representing row, second will be str representing colummn

986    32.842633
986    32.842700
Name: t, dtype: float64

In [16]:
df[0:4]

          t         x  Unnamed: 2       t.1       x.1
0  0.000000  0.090312         NaN  0.000000  0.297208
1  0.034033  0.090312         NaN  0.034033  0.296060
2  0.067344  0.102026         NaN  0.067344  0.294879
3  0.100656  0.108727         NaN  0.100656  0.293821

In [17]:
df.iloc[0,0]# rows(indexed as the data) x col(indexed as the data)

0.0

In [18]:
#df[df['t']>25 and df['x']<0.5]
df.query('t<25 and x < 0.1')

             t         x  Unnamed: 2        t.1       x.1
0     0.000000  0.090312         NaN   0.000000  0.297208
1     0.034033  0.090312         NaN   0.034033  0.296060
83    2.765400  0.094533         NaN   2.765400  0.298629
84    2.798711  0.089467         NaN   2.798711  0.299495
85    2.831911  0.085335         NaN   2.831911  0.300296
..         ...       ...         ...        ...       ...
666  22.184022  0.064446         NaN  22.184022  0.332955
667  22.217333  0.070143         NaN  22.217333  0.330217
668  22.250644  0.077252         NaN  22.250644  0.328511
669  22.284111  0.085951         NaN  22.284111  0.327714
670  22.317456  0.095191         NaN  22.317456  0.328085

[281 rows x 5 columns]

# JSON

In [19]:
import json

json_='''
{   
    "employees":
        [
        {"firstName":["John","Ashwin"], "lastName":"Doe"},
        {"firstName":"Anna", "lastName":"Smith"},
        {"firstName":"Peter", "lastName":"Jones"}
        ]
} '''

dict_ = json.loads(json_)
print(type(dict_))
print(dict_,'\n')

#query 1
for emp in dict_['employees']:
    print(emp['firstName'], emp['lastName'])

#query 2

new = {
    "managers":[
        {
            "Name":"Avyay",
            "Location":"Bengaluru",
        },
        {
            "Name":"Vivek",
            "Location":"Hydrabad"
        }
    ]
}

dict_.update(new)

print(dict_)

<class 'dict'>
{'employees': [{'firstName': ['John', 'Ashwin'], 'lastName': 'Doe'}, {'firstName': 'Anna', 'lastName': 'Smith'}, {'firstName': 'Peter', 'lastName': 'Jones'}]}

['John', 'Ashwin'] Doe
Anna Smith
Peter Jones
{'employees': [{'firstName': ['John', 'Ashwin'], 'lastName': 'Doe'}, {'firstName': 'Anna', 'lastName': 'Smith'}, {'firstName': 'Peter', 'lastName': 'Jones'}], 'managers': [{'Name': 'Avyay', 'Location': 'Bengaluru'}, {'Name': 'Vivek', 'Location': 'Hydrabad'}]}

In [20]:
people_string = '''
{
    "people": [
        {
            "name" : "John Smith",
            "phone" : "615-555-7164",
            "emails" : ["johnsmith@gmail.com", "johnsmith@workplace.com"],
            "has_license" : false
        },
        {
            "name" : "Jane Doe",
            "phone" : "560-555-5153",
            "emails" : null,
            "has_license" : false
        },
        {
            "name" : "Ashwin Ravi",
            "phone" : "560-555-5153",
            "emails" : "ashravi7@gmail.com",
            "has_license" : true
        },
        {
            "name":"Aditya",
            "phone":"67687888",
            "emails":"aditya.teng@gmal.come",
            "has_license": false
        }
    ]
}

'''
convert = json.loads(people_string)

print(convert,'\n')

#qeury 1

for person in convert['people']:
    print(person["name"],' -- license status is ', person["has_license"])


#query 2

for person in convert['people']:
    print(person["name"], person["phone"], person["emails"])

{'people': [{'name': 'John Smith', 'phone': '615-555-7164', 'emails': ['johnsmith@gmail.com', 'johnsmith@workplace.com'], 'has_license': False}, {'name': 'Jane Doe', 'phone': '560-555-5153', 'emails': None, 'has_license': False}, {'name': 'Ashwin Ravi', 'phone': '560-555-5153', 'emails': 'ashravi7@gmail.com', 'has_license': True}, {'name': 'Aditya', 'phone': '67687888', 'emails': 'aditya.teng@gmal.come', 'has_license': False}]}

John Smith  -- license status is  False
Jane Doe  -- license status is  False
Ashwin Ravi  -- license status is  True
Aditya  -- license status is  False
John Smith 615-555-7164 ['johnsmith@gmail.com', 'johnsmith@workplace.com']
Jane Doe 560-555-5153 None
Ashwin Ravi 560-555-5153 ashravi7@gmail.com
Aditya 67687888 aditya.teng@gmal.come

In [21]:
import pandas as pd

#a data frame is a list of dictionary objects

df = pd.DataFrame(convert['people'])

df

,name,phone,emails,has_license
0,John Smith,615-555-7164,"[johnsmith@gmail.com, johnsmith@workplace.com]",False
1,Jane Doe,560-555-5153,None,False
2,Ashwin Ravi,560-555-5153,ashravi7@gmail.com,True
3,Aditya,67687888,aditya.teng@gmal.come,False

In [26]:
#dumps() -> converts mutable dict back to json object

dumped = json.dumps(dict_, indent=4)
print()
print(type(dumped))
print(dumped)

<class 'str'>
{
    "employees": [
        {
            "firstName": [
                "John",
                "Ashwin"
            ],
            "lastName": "Doe"
        },
        {
            "firstName": "Anna",
            "lastName": "Smith"
        },
        {
            "firstName": "Peter",
            "lastName": "Jones"
        }
    ],
    "managers": [
        {
            "Name": "Avyay",
            "Location": "Bengaluru"
        },
        {
            "Name": "Vivek",
            "Location": "Hydrabad"
        }
    ]
}

In [44]:
#reading JSON file to python object

#with acts as a context manager where related actions aere part of the intended block only.
with open('data/intents.json','r') as file: #file = open('data/intents.json')
    convert=json.load(file)
    #print(convert,'\n')
    #query 1 
    print(convert.keys())
    for value in convert['intents']:
        print()
        print(value['tag'])
        print(value['patterns'])
        print(value['responses'])


    #query 2 - add a new dict to the existing list
    new_ = {
        'tag':'waiting',
        'patterns':[
            'How much more time?',
            'Hours left?',
            'Time taken?'
        ],
        'responses':[
            'Some more time',
            'precessing request',
            'work in progress'
        ]
    }

    convert['intents'].append(new_)
    #print(convert)
    with open('data/intents_v2.json','a') as new:
        json.dump(convert,fp = new,indent = 3, sort_keys=True) #dumps for objs dump for file
        print("DONE")

dict_keys(['intents'])

greeting
['Hi', 'How are you', 'Is anyone there?', 'Hello', 'Good day']
['Hello, thanks for visiting', 'Good to see you again', 'Hi there, how can I help?']

goodbye
['Bye', 'See you later', 'Goodbye']
['See you later, thanks for visiting', 'Have a nice day', 'Bye! Come back again soon.']

thanks
['Thanks', 'Thank you', "That's helpful"]
['Happy to help!', 'Any time!', 'My pleasure']

hours
['What hours are you open?', 'What are your hours?', 'When are you open?']
["We're open every day 9am-9pm", 'Our hours are 9am-9pm every day']

payments
['Do you take credit cards?', 'Do you accept Mastercard?', 'Are you cash only?']
['We accept VISA, Mastercard and AMEX', 'We accept most major credit cards']

opentoday
['Are you open today?', 'When do you open today?', 'What are your hours today?']
["We're open every day from 9am-9pm", 'Our hours are 9am-9pm every day']
DONE

In [67]:
with open('data/states_and_districts.json','r') as file:
    convert = json.load(file)
    print(convert.keys())
    # print(convert['states']) "cntrl + '/' - shorcut to comment out a line
    states = convert['states']
    for state in states:
        # print(state['state'])
        print(state['districts'][:3])
        if state['state'] == 'Karnataka':
            del state['state']
            del state['districts']  
            print("DONE")
    for state in states:
        try:                        #error cause we only removed karnataka and not the key-value pair
            print(state['state'])
        except:
            pass

    with open('data/states_and_districts_v2.json','a') as new:
        json.dump(states,new,indent=3,sort_keys=True)
        new.close()
        print("DONE")

dict_keys(['states'])
['Anantapur', 'Chittoor', 'East Godavari']
['Tawang', 'West Kameng', 'East Kameng']
['Baksa', 'Barpeta', 'Biswanath']
['Araria', 'Arwal', 'Aurangabad']
['Chandigarh']
['Balod', 'Baloda Bazar', 'Balrampur']
['Dadra & Nagar Haveli']
['Daman', 'Diu']
['Central Delhi', 'East Delhi', 'New Delhi']
['North Goa', 'South Goa']
['Ahmedabad', 'Amreli', 'Anand']
['Ambala', 'Bhiwani', 'Charkhi Dadri']
['Bilaspur', 'Chamba', 'Hamirpur']
['Anantnag', 'Bandipore', 'Baramulla']
['Bokaro', 'Chatra', 'Deoghar']
['Bagalkot', 'Ballari (Bellary)', 'Belagavi (Belgaum)']
DONE
['Alappuzha', 'Ernakulam', 'Idukki']
['Agatti', 'Amini', 'Androth']
['Agar Malwa', 'Alirajpur', 'Anuppur']
['Ahmednagar', 'Akola', 'Amravati']
['Bishnupur', 'Chandel', 'Churachandpur']
['East Garo Hills', 'East Jaintia Hills', 'East Khasi Hills']
['Aizawl', 'Champhai', 'Kolasib']
['Dimapur', 'Kiphire', 'Kohima']
['Angul', 'Balangir', 'Balasore']
['Karaikal', 'Mahe', 'Pondicherry']
['Amritsar', 'Barnala', 'Bathinda']
['Ajmer', 'Alwar', 'Banswara']
['East Sikkim', 'North Sikkim', 'South Sikkim']
['Ariyalur', 'Chennai', 'Coimbatore']
['Adilabad', 'Bhadradri Kothagudem', 'Hyderabad']
['Dhalai', 'Gomati', 'Khowai']
['Almora', 'Bageshwar', 'Chamoli']
['Agra', 'Aligarh', 'Allahabad']
['Alipurduar', 'Bankura', 'Birbhum']
Andhra Pradesh
Arunachal Pradesh
Assam
Bihar
Chandigarh (UT)
Chhattisgarh
Dadra and Nagar Haveli (UT)
Daman and Diu (UT)
Delhi (NCT)
Goa
Gujarat
Haryana
Himachal Pradesh
Jammu and Kashmir
Jharkhand
Kerala
Lakshadweep (UT)
Madhya Pradesh
Maharashtra
Manipur
Meghalaya
Mizoram
Nagaland
Odisha
Puducherry (UT)
Punjab
Rajasthan
Sikkim
Tamil Nadu
Telangana
Tripura
Uttarakhand
Uttar Pradesh
West Bengal
DONE

In [101]:
people_string = '''
{
    "employees": [
        {
            "managers": [
                    {
            "name" : "John Smith",
            "phone" : "615-555-7164",
            "emails" : ["johnsmith@gmail.com", "johnsmith@workplace.com"],
            "has_license" : false,
            "is_manager" : true,
            "is_developer" : true
        },
        {
            "name" : "Jane Doe",
            "phone" : "560-555-5153",
            "emails" : null,
            "has_license" : true
        },
        {
            "name" : "Ashwin Ravi",
            "phone" : "560-555-5153",
            "emails" : "ashwin.rav@byteacademy.co",
            "has_license" : true
            }
        ]
    },
    {
            "developers": [
                    {
            "name" : "Ranjini",
            "phone" : "615-555-7164",
            "emails" : ["johnsmith@gmail.com", "johnsmith@workplace.com"],
            "has_license" : false
        },
        {
            "name" : "Smitha",
            "phone" : "560-555-5153",
            "emails" : null,
            "has_license" : true
        },
        {
            "name" : "Sindhu",
            "phone" : "560-555-5153",
            "emails" : null,
            "has_license" : true
            },
            {
            "name" : "Abhilasha",
            "phone" : "560-555-5153",
            "emails" : null,
            "has_license" : true
            },
            {
            "name" : "Rashmi",
            "phone" : "560-555-5153",
            "emails" : null,
            "has_license" : true
            },
             {
            "name" : "Gulshan",
            "phone" : "560-555-5153",
            "emails" : null,
            "has_license" : true
            }
        ]
    }
    
    
]
}
'''

data = json.loads(people_string)



# print(data)
# 1 get the ph nos and emails  of all the managers and developers:

managers = data['employees'][0]
# print(managers.keys())
print('managers name and phone:')
for people in managers['managers']:
    print(people['name'])
    print(people['phone'])

developers = data['employees'][1]
print('developers name and phone:')
for people in developers['developers']:
    print(people['name'])
    print(people['phone'])
# 2  get me the name, mail ids and ph_nos  of all employees and developers
#  
print('managers name, email and phone:')
for people in managers['managers']:
    print(people['name'])
    print(people['emails'])
    print(people['phone'])

print('developers name, email and phone:')
for people in developers['developers']:
    print(people['name'])
    print(people['emails'])
    print(people['phone'])

# 3 get  licenses of managers

for people in managers['managers']:
    print(people['name']," Has license - ", people['has_license'])

managers name and phone:
John Smith
615-555-7164
Jane Doe
560-555-5153
Ashwin Ravi
560-555-5153
developers name and phone:
Ranjini
615-555-7164
Smitha
560-555-5153
Sindhu
560-555-5153
Abhilasha
560-555-5153
Rashmi
560-555-5153
Gulshan
560-555-5153
managers name, email and phone:
John Smith
['johnsmith@gmail.com', 'johnsmith@workplace.com']
615-555-7164
Jane Doe
None
560-555-5153
Ashwin Ravi
ashwin.rav@byteacademy.co
560-555-5153
developers name, email and phone:
Ranjini
['johnsmith@gmail.com', 'johnsmith@workplace.com']
615-555-7164
Smitha
None
560-555-5153
Sindhu
None
560-555-5153
Abhilasha
None
560-555-5153
Rashmi
None
560-555-5153
Gulshan
None
560-555-5153
John Smith  Has license -  False
Jane Doe  Has license -  True
Ashwin Ravi  Has license -  True